name: "Run nix flake check"

on:
  push:
    branches: [main]
  pull_request:
  merge_group:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: samueldr/lix-gha-installer-action@v2025-10-27
      - uses: DeterminateSystems/magic-nix-cache-action@v13
        with:
          diagnostic-endpoint: ""
      - run: nix flake check --log-format raw-with-logs -L

env:
  FORCE_COLOR: 1
